httml,
body {
    background-color: rgba(30, 122, 202, 0.342);
    height: 300vh;
  }
 /* title */
#container1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  /* title */
  /* form */
  input {
    background-color: rgb(243, 237, 237) !important;
    color: black !important;
  }
  
  input::placeholder {
    color: #2a3742 !important;
  }
  #inp {
    width: 50%;
    margin-top: 50px;
    margin-left: 20%;
  }
  #btn1 {
    margin-top: 50px;
    font-size: 20px;
  }