httml,
body {
    background-color: rgba(30, 122, 202, 0.342);
    height: 300vh;
  }
 /* title */
#container1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  /* title */
  /* form */
  input {
    background-color: rgb(243, 237, 237) !important;
    color: black !important;
  }
  
  input::placeholder {
    color: #2a3742 !important;
  }
  #inp {
    width: 50%;
    margin-top: 50px;
    margin-left: 20%;
  }
  #btn1 {
    margin-top: 50px;
    font-size: 20px;
  }
  .wrapper.result {
    background-color: black;
  }
  
  .container11 {
    /* border: 5px solid black; */
    padding: 20px;
    margin-top: 6%;
  }
  
  #im {
    height: 55vh;
    margin-left: 30%;
    border: 4px solid black;
    padding: 20px;
    margin-top: 100px;
    width: 70vh;
  }
  #name {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
    margin-top: 40px;
  }
  #capital {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #region {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #sub-region {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #callingCodes {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #population {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  
  #demonym111 {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #area {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #timezones {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #borders {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #nativeName {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #numericCode {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  
  #translate {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  
  #cioc {
    font-size: 40px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  
  /* result end */
  
  /* mobile version */
  
  @media only screen and (max-device-width: 480px) {
    #container1 {
      font-size: 30px;
      color: rgb(0, 0, 0);
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: center;
    }
  
    input {
      background-color: rgb(243, 237, 237) !important;
      color: black !important;
    }
  
    input::placeholder {
      color: #2a3742 !important;
    }
    #inp {
      width: 90%;
      margin-top: 50px;
      margin-left: 4%;
    }
  
    #btn1 {
      margin-top: 15px;
      font-size: 20px;
      margin-left: 35%;
    }
    #im {
      height: 50vh;
      margin-left: 7%;
      border: 4px solid black;
      padding: 20px;
      margin-top: 100px;
      width: 46vh;
    }
  
    #name {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
      margin-top: 40px;
    }
    #capital {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #region {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #sub-region {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #callingCodes {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #population {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
  
    #demonym111 {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #area {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #timezones {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #borders {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #nativeName {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    #numericCode {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
  
    #translate {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
  
    #cioc {
      font-size: 25px;
      font-weight: bolder;
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-left: 7%;
    }
    body {
      height: 290vh;
    }
  }
  
  